body{
    background-color: #eac1f9;
    text-align: center;
    font-family: 'Courier New', Courier, monospace
}

#Company{
    background-color: #9c38bd;
    color: white;
    font-size: 54px;
    padding: 5%;
}


.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(193, 122, 207, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card .card-heading {
    margin: 0;
    font-size: 40px;
    line-height: 42px;
    color: #ffffff;
    
}

.role{
    color: #ffffff;
    font-size: 32px;
}

.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.list-group {
    display: block;
    margin: 8px 14px 0 14px;
    font-size: 24px;
    line-height: 28px;
    color: #7d2b67;
    background-color: #7d2b67;
    padding-bottom: 20px;
}

#footerName{
    color: white;
}